<!-- Formulario que se incluye en archivo <editar.html> -->

<br>
<h3>Aquí puedes editar el consumo para la fecha indicada:</h3>
<form action="/ruta_editar_confirmado" method="POST">
    <input type="hidden" value="{{ datos_para_editar._id }}" name="id">
    <br>
    <input type="date" name="fecha_consumo" placeholder="Fecha de consumo" value = {{ datos_para_editar.fecha_consumo }} >
    <br>
    <br>
    Nº de vasos que te has tomado por la mañana: <input type="number" name="vasos_manana" value = {{ datos_para_editar.vasos_manana }}>
    <br>
    Nº de vasos que te has tomado al mediodía: <input type="number" name="vasos_mediodia" value = {{ datos_para_editar.vasos_mediodia }}>
    <br>
    Nº de vasos que te has tomado por la mañana:  <input type="number" name="vasos_tarde" value = {{ datos_para_editar.vasos_tarde }}>
    <br>
    Nº de vasos que te has tomado por la noche: <input type="number" name="vasos_noche" value = {{ datos_para_editar.vasos_noche }}>
    <br>
    <button class="btn btn-sm btn-primary" type="submit">¡ACTUALIZAR!</button>
</form>