<!-- Formulario que se incluye en archivo <entrar_nuevo_registro_dia> -->

<br>
<h3>A beber que son <span class="remarcado">2 días</span>: </h3>
<form action="/ruta_crear-nuevo-registro-dia" method="POST">
    <input type="date" name="fecha_consumo" placeholder="Fecha de consumo" value="{{ fecha_actual.strftime("%Y-%m-%d") }}" required>
    <br>
    <br>
    Nº de vasos que te has tomado por la mañana: <input type="number" name="vasos_manana" >
    <br>
    Nº de vasos que te has tomado al mediodía: <input type="number" name="vasos_mediodia">
    <br>
    Nº de vasos que te has tomado por la tarde: <input type="number" name="vasos_tarde">
    <br>
    Nº de vasos que te has tomado por la noche: <input type="number" name="vasos_noche">
    <br>
    <button class="btn btn-sm btn-primary" type="submit">¡Registra!</button>
</form>